<mat-card class="beer-item fadein" [ngClass]="{'small': small}" (click)="openBeerDialog(beer)">
  <img src="{{beer.image_url}}">
  <h1 *ngIf="!small">{{beer.name}}</h1>
  <h1 *ngIf="small">{{ (beer.name.length > 32) ? (beer.name | slice:0:32) + '...' : (beer.name) }}</h1>
  <p> {{ (beer.tagline.length > 128) ? (beer.tagline | slice:0:128) + '...' : (beer.tagline) }}</p>
  <i *ngIf="!favouritesService.isFavourite(beer)" class="material-icons fav-star"
     (click)="toggleFavourite($event, beer)">
    star_border
  </i>
  <i *ngIf="favouritesService.isFavourite(beer)" class="material-icons fav-star active"
     (click)="toggleFavourite($event, beer)">
    star
  </i>
</mat-card>
