@import '_variables';

.beer-item {
  width: 280px;
  height: 350px;
  padding: 22px 36px;
  text-align: center;
  border-radius: 8px;
  margin: 0 15px 30px 15px;
  cursor: pointer;
  transition: box-shadow;
  transition-duration: $transition-duration;

  &:hover {
    box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  }

  &.small {
    width: 120px;
    height: 200px;
    margin: 0 8px 16px 8px;


    img {
      height: 100px;
    }

    h1 {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }
  }

  @media #{$mobile} {
    margin: 0 0 20px 0;
  }

  img {
    height: 190px;
  }

  h1 {
    margin: 18px 0 12px 0;
    font-size: 24px;
    color: $color-main;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    color: $color-grey;
  }

  .fav-star {
    position: absolute;
    right: 0;
    top: 0;
    opacity: .7;
    transition: color, opacity;
    transition-duration: $transition-duration;
    padding: 20px;

    &.active {
      color: $color-main;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
      color: $color-main;
    }
  }
}
