@import '_variables';


nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  text-align: right;
  z-index: 2;

  &.sticky {
    background-color: $color-main;
  }

  .menu-content {
    text-transform: uppercase;

    padding: 16px;
    list-style-type: none;
    li {
      display: inline-block;
      margin-left: 16px;

    }

    li a {
      color: $color-white;
      text-decoration: none;
      opacity: .8;
      transition: opacity;
      transition-duration: $transition-duration;
      &.active {
        font-weight: bold;
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }

    }
  }
}

.mini-logo {
  position: fixed;
  top: 8px;
  left: 30px;
  font-size: 24px;
  font-weight: bold;
  z-index: 4;

  @media only screen and (max-width: 360px) {
    display: none;
  }

  a {
    color: $color-white;
    text-decoration: none;
  }
}

header {
  text-align: center;
  background-color: $color-main;
  color: $color-white;
  padding: 50px 0 0 0;
  z-index: 3;

  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
    a {
      color: $color-white;
      text-decoration: none;
      cursor: pointer;
    }
  }

  h2 {
    font-size: 16px;
    font-weight: normal;
    opacity: .8;
    margin-bottom: 12px;
  }

  .header-gap {
    height: 50px;
  }
}
