<div class="mini-logo fadein" *ngIf="stickHeader">
  <a routerLink="/">The Beer Bank</a>
</div>

<nav role="navigation" [ngClass]="{'sticky': stickHeader}">
  <ul class="menu-content">
    <li><a href [routerLink]="['/' + appConst.PATHNAME_HOME]" routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
    <li><a href [routerLink]="['/' + appConst.PATHNAME_FAVOURITES]" routerLinkActive="active">Favourite</a></li>
  </ul>
</nav>

<header>
  <div class="header-over">
    <h1>
      <a routerLink="/">The Beer Bank</a>
    </h1>
    <h2>
      Find your favorite beer here
    </h2>
    <app-search></app-search>
  </div>
  <div #headerGap class="header-gap"></div>
</header>

