<div class="beer-list-container" *ngIf="!favourites" (scroll)="onScroll($event)">
  <ng-container *ngFor="let beer of beers">
    <app-beer-item [beer]="beer"></app-beer-item>
  </ng-container>
</div>

<div class="beer-list-container" *ngIf="favourites" (scroll)="onScroll($event)">
  <ng-container *ngFor="let beer of beers">
    <app-beer-item *ngIf="favourites.indexOf(beer.id) !== -1" [beer]="beer"></app-beer-item>
  </ng-container>
</div>
