
$color-main: #f89400;
$color-white: #fff;
$color-background: #f8f8f8;
$color-grey: #878787;

$transition-duration: .3s;

$responsive_desktop_wide: 1600;
$responsive_desktop_wide-only: ($responsive_desktop_wide - 1);
$responsive_desktop: 1024;
$responsive_desktop-only: ($responsive_desktop - 1);
$responsive_tablet: 768;
$responsive_mobile: ($responsive_tablet - 1);

$mobile: "only screen and (max-width: #{$responsive_mobile}px)";
$tablet: "only screen and (min-width: #{$responsive_tablet}px)";
$desktop: "only screen and (min-width: #{$responsive_desktop}px)";
$desktop-only: "only screen and (max-width: #{$responsive_desktop-only}px)";
$desktop-wide: "only screen and (min-width: #{$responsive_desktop_wide}px)";
$tablet-only: "only screen and (max-width: #{$responsive_desktop}px) and (min-width: #{$responsive_tablet}px)";
$portable: "only screen and (max-width: #{$responsive_desktop}px)";
