@import '_variables';
@import "~nouislider/distribute/nouislider.min.css";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '../../node_modules/@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$beer-bank-primary: mat-palette($mat-indigo);
$beer-bank-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$beer-bank-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$beer-bank-theme: mat-light-theme($beer-bank-primary, $beer-bank-accent, $beer-bank-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($beer-bank-theme);

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-color: $color-background;
  overflow-y: scroll;
}
ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

@keyframes kFadeIn {
  0%  {opacity: 0}
  100% {opacity: 1}
}

.fadein {
  animation: kFadeIn .3s ease-in-out
}

.beer-dialog .mat-dialog-container {
}

.mat-expansion-panel {
  background-color: $color-main;
  border: 0 !important;
  box-shadow: none !important;
}

.cdk-global-scrollblock {
  position: initial;
  width: initial;
  overflow: hidden;
}
