<div class="beer-wrapper fadein">
  <div class="beer-container">
    <div class="close" (click)="close()">
      <i class="material-icons">
        close
      </i>
    </div>
    <div class="beer-image">
      <img src="{{beer.image_url}}"/>
    </div>
    <div class="beer-info">
      <h1>{{beer.name}}</h1>
      <h2>{{beer.tagline}}</h2>
      <div class="divider"></div>
      <ul class="beer-params">
        <li>
          <b>IBU</b>: {{beer.ibu}}
        </li>
        <li>
          <b>ABV</b>: {{beer.abv}}%
        </li>
        <li>
          <b>EBC</b>: {{beer.ebc}}%
        </li>
      </ul>
      <p>
        {{beer.description}}
      </p>

      <div class="pairing" *ngIf="beer.food_pairing && beer.food_pairing.length">
        <b>Best served with:</b>
        <ul>
          <li *ngFor="let food of beer.food_pairing">
            {{food}}
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="similar-beers-container">

    <h2>You might also like</h2>
    <div class="beer-list-container">

      <ng-container *ngFor="let beer of $similarBeers | async">
        <app-beer-item [beer]="beer"
                       [small]="true"
                       [returnBeerAfterClick]="true"
                       (beerClicked)="reloadView($event)"></app-beer-item>
      </ng-container>
    </div>
  </div>

</div>


