@import '_variables';

.beer-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.similar-beers-container {
  text-align: center;

  h2 {
    font-size: 25px;
    color: $color-main;
    margin-bottom: 20px;
  }

}



.beer-wrapper {
  height: 100%;
  position: relative;

  .beer-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;

    @media only screen and (max-width: 1200px) {
      flex-direction: column;
      margin-bottom: 40px;
    }
  }

  .close {
    position: absolute;
    padding: 0 20px;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: color;
    transition-duration: $transition-duration;

    &:hover {
      color: $color-main;
    }
  }

  .beer-image {
    padding: 40px;

    @media only screen and (max-width: 1200px) {
      padding: 0;
      text-align: center;

    }

    img {
      width: 300px;
      height: 600px;
      object-fit: contain;

      @media only screen and (max-width: 1200px) {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
    }


  }

  .beer-info {
    flex-grow: 1;
    padding: 40px 20px 0 0;
    color: $color-grey;

    h1 {
      font-size: 36px;
      font-weight: bold;
      margin-bottom: 8px;
      color: $color-main;
    }

    h2 {
      font-size: 24px;
      font-weight: normal;
      margin-bottom: 8px;

    }

    .divider {
      width: 120px;
      border-bottom: 8px solid #ae409a;
      margin: 20px 0;
    }

    .beer-params {
      font-size: 20px;
      text-transform: uppercase;
      list-style-type: none;
      margin-bottom: 20px;
      li {
        display: inline-block;
        margin-right: 16px;

      }
    }

    p {
      font-size: 18px;
      line-height: 1.4;

    }

    .pairing {
      margin-top: 20px;
      font-size: 18px;

      ul {
        list-style: circle;
        padding-left: 20px;
        li {
          padding-top: 8px;
        }
      }
    }
  }
}
