@import '_variables';

input {
  border: 0;
  font-size: 14px;
  padding: 8px;
  width: 400px;
  outline: none;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 8px;

  &::placeholder {
    opacity: .7;
  }

  @media #{$mobile} {
    width: 80%;
  }
}

.advanced-search {
  padding-top: 20px;
  text-align: center;
  user-select: none;

  .adv-search-trigger {
    cursor: pointer;
    margin-bottom: 20px;
  }

  .adv-search-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 40px;

    .item {
      flex-grow: 1;
      margin: 0 20px 0 20px;
      color: $color-white;
      font-size: 12px;

      &.date {
        flex-grow: 0;
        margin-top: 18px;
        width: 250px;

        input {
          width: 150px;
        }
      }
    }

  }
}

::ng-deep {
  .noUi-horizontal {
    height: 3px;
    background-color: #454545;
    box-shadow: none;
    border: none;

  }

  .noUi-handle:after,
   .noUi-handle:before {
    display: none;
  }

   .noUi-connects {
     background-color: $color-background;
   }

   .noUi-connect {
     background-color: $color-white;
   }

  .noUi-horizontal .noUi-handle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-white;
    box-shadow: none;
    border: none;
    top: -8px;
    outline: none;
    cursor: pointer;

  }

  nouislider {
    flex-grow: 1
  }

}
