<input type="text" placeholder="Search for beers here" [(ngModel)]="query" (ngModelChange)="onQueryChange($event)">
<div class="advanced-search">
  <div class="adv-search-trigger" (click)="advSearchExpanded = !advSearchExpanded">{{advSearchExpanded ? 'Close ' : ''}}
    Advanced Search
  </div>

  <mat-expansion-panel [expanded]="advSearchExpanded">
    <div class="adv-search-items">
      <div class="item">
        ABV range (<b>{{selectedRanges.abv[0]}} - {{selectedRanges.abv[1]}}</b>)
        <nouislider [config]="rangeConfigs.abv" [(ngModel)]="selectedRanges.abv"
                    (ngModelChange)="filtersChanged(null)"></nouislider>
      </div>
      <div class="item">
        IBU range (<b>{{selectedRanges.ibu[0]}} - {{selectedRanges.ibu[1]}}</b>)
        <nouislider [config]="rangeConfigs.ibu" [(ngModel)]="selectedRanges.ibu"
                    (ngModelChange)="filtersChanged(null)"></nouislider>
      </div>
      <div class="item">
        EBC range (<b>{{selectedRanges.ebc[0]}} - {{selectedRanges.ebc[1]}}</b>)
        <nouislider [config]="rangeConfigs.ebc" [(ngModel)]="selectedRanges.ebc"
                    (ngModelChange)="filtersChanged(null)"></nouislider>
      </div>

      <div class="item date">
        <input matInput #pickerAfterInput [matDatepicker]="pickerAfter" placeholder="Brewed after"
               (dateChange)="filtersChanged($event, 'brewed_after')">
        <mat-datepicker-toggle matSuffix [for]="pickerAfter"></mat-datepicker-toggle>
        <mat-datepicker #pickerAfter></mat-datepicker>
      </div>
      <div class="item date">
        <input matInput #pickerBeforeInput [matDatepicker]="pickerBefore" placeholder="Brewed before"
               (dateChange)="filtersChanged($event, 'brewed_before')">
        <mat-datepicker-toggle matSuffix [for]="pickerBefore"></mat-datepicker-toggle>
        <mat-datepicker #pickerBefore></mat-datepicker>
      </div>

      <div class="item date">
        <button mat-raised-button color="warn" (click)="resetFilters()">Clear filters</button>
      </div>
    </div>
  </mat-expansion-panel>
</div>
